node_modules
dist
out
.DS_Store
.eslintcache
*.log*
apps/desktop/src/renderer/src/auto-imports.d.ts
apps/desktop/src/renderer/src/components.d.ts
/apps/desktop/data
src/pty/target
packages/qi-cli/example/index-tts/index-tts/
.turbo
GenieData
.venv
packages/external
apps/desktop/android/local.properties
